@import 'button.css';
@import 'event.css';

:root {
  --main-bg-color: #fbf9c8;
  --main-text-color: #333;
  --text-light-color: rgb(246, 244, 244);
  --main-box-shadow: 0px 0px 3px #CBD4C2;
  --primary-color: #766cd3;
  --weekdays-color: #12c9e1;
  --current-day-color: #91a1d2;
  --buttons-color: #d36cc0;
  --save: #00c961;
  --warning: #e100ce;
  --event-color: #f48510;
}

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: sans-serif;
}

#header {
  padding: 10px;
  color: var(--primary-color);
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: var(--weekdays-color);
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: var(--weekdays-color);
  opacity: 50%;
}

.day + #currentDay {
  background-color:var(--current-day-color);
  color: var(--text-light-color);
}

.padding {
  cursor: default;
  box-shadow: none !important;
}

